
<div class="grid-2-columns-app">
<div class="appwrapper">

<a target="_blank" href="https://play.google.com/store/apps/details?id=com.sassco.society" class="app-btn android-button clearfix" id="googlePlayUrl" title="Available on the Play Store">

<div class="pull-left"><i class="fab fa-android"></i></div>
<div class="pull-right"><span class="text">Available on the</span><span class="text-2">Play Store</span></div>

</a>
</div>



<div class="appwrapper">

<a target="_blank" href="https://apps.apple.com/au/app/society-pizzeria-food-ordering/id1464408358" class="app-btn apple-button clearfix" id="appstoreUrl" title="Available on the App store">

<div class="pull-left"><i class="fab fa-apple"></i></div>
<div class="pull-right"><span class="text">Available on the</span><span class="text-2">App Store</span></div>

</a>
</div>
</div>