
<p class="apptitle">Download our app to order online, view our menu and more!</p>

<div class="grid-2-columns-app">


<div class="appwrapper"><a title="Available on the Play Store" href="https://apps.apple.com/au/app/society-pizzeria-food-ordering/id1464408358" target="_blank" rel="noopener">
<div class="apptop"><i class="fab fa-apple"></i></div>
<div class="appbottom"><span class="text-top">Available on the</span><br><span class="text-bottom">App Store</span></div>
</a></div>


<div class="appwrapper"><a title="Available on the Play Store" href="https://play.google.com/store/apps/details?id=com.sassco.society" target="_blank" rel="noopener">
<div class="apptop"><i class="fab fa-android"></i></div>
<div class="appbottom"><span class="text-top">Available on the</span><br><span class="text-bottom">Play Store</span></div>
</a></div>


</div>
