
<p class="apptitle">Download our app to order online, view our menu and more!</p>

<div class="grid-2-columns-app">


<div class="appwrapper"><a title="Available on the Play Store" href="https://apps.apple.com/au/app/society-pizzeria-food-ordering/id1464408358" target="_blank" rel="noopener">
<div class="apptop"><i class="fab fa-apple"></i></div>
<div class="appbottom"><span class="text">Available on the</span><br><span class="text-2">App Store</span></div>
</a></div>


<div class="appwrapper">
<div class="apptop"><a title="Available on the Play Store" href="https://play.google.com/store/apps/details?id=com.sassco.society" target="_blank" rel="noopener"><span class="largefont"><i class="fab fa-android"></i></span></a></div>
<div class="appbottom"><a title="Available on the Play Store" href="https://play.google.com/store/apps/details?id=com.sassco.society" target="_blank" rel="noopener"><span class="text">Available on the</span><br><span class="text-2">Play Store</span></a></div>
</div>


</div>
