<div class="grid-4-bondi">

<div class="shopmenu">
<a class="bondi-beach menuwrapper" style="background: url(https://ik.imagekit.io/webtactics/society/images/bondi/menu-400x400_vUh4bttwGu.jpg);background-repeat:no-repeat;
background-position: center center;background-size:cover;" title="Menu" href="https://www.societypizzeria.com.au/pdf/220607-SOCIETY-FOOD-MENU-AS-AT-4-MAY-22_LR.pdf" target="_blank" rel="noopener"><span class="largefont">Menu</span></a>
</div>

<div class="shopmenu">
<a class="bondi-beach menuwrapper" style="background: url(https://ik.imagekit.io/webtactics/society/images/bondi/booking-400x400_dOQykuCY0.jpg);background-repeat:no-repeat;
background-position: center center;background-size:cover;" title="Booking" href="https://bookings.nowbookit.com/?accountid=42c3dc48-f2ee-44dc-ae02-0108dc89edc7&venueid=2260&theme=light&colors=hex,000000" target="_blank" rel="noopener"><span class="largefont">Book</span></a>
</div>

<div class="shopmenu">
<a class="bondi-beach menuwrapper" style="background: url(https://ik.imagekit.io/webtactics/society/images/bondi/order-400x400_2erjgoEAk.jpg);background-repeat:no-repeat;
background-position: center center;background-size:cover;" title="Order" href="https://www.societypizzeria.com.au/order/society-pizzeria-bondi-beach/index.html" target="_blank" rel="noopener"><span class="largefont">Order</span></a>
</div>

<div class="shopmenu">
<a class="bondi-beach menuwrapper" style="background: url(https://ik.imagekit.io/webtactics/society/images/bondi/functions-400x400_V7jW4ky9S.jpg);background-repeat:no-repeat;
background-position: center center;background-size:cover;" title="FUNCTIONS" href="https://www.societypizzeria.com.au/pdf/220607-SOCIETY-SET-MENU-AS-AT-MAY-2022.pdf" target="_blank" rel="noopener"><span class="largefont">Functions</span></a>
</div>

</div>