
    <div class="footerwrap">
        <h4 class="primary">Contact Information:</h4>
      <p>If you would like to know more about Society please email <a href="mailto:info@societypizzeria.com.au">info@societypizzeria.com.au</a></p>
        <p>
            Phone: <a title="Call Society Pizza Bar Bondi Beach" alt="Call Society Pizza Bar Bondi Beach" href="tel:+61291307359">
<img src="/img/phone.svg" alt="Call Society Pizza Bar Bondi Beach" title="Call Society Pizza Bar Bondi Beach" height="34px" width="34px"><span class="phonetext">(02) 9130 7359</span></a><br>
            Address: <a href="https://maps.app.goo.gl/SAY9V5bsoPQaLCES7" title="Get Directions to Society Pizzeria" alt="Get Directions to Society Pizzeria" target="_blank">88/90 Curlewis St, Bondi Beach NSW 2026</a>
        </p>
    </div>





