<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation">
<span class="hamburger-icon" title="Society Pizzeria di Catania Mobile Menu" alt="Society Pizzeria di Catania Mobile Menu"></span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | Society Pizzeria di Catania" alt="Return to the homepage | Society Pizzeria di Catania" id="logo">
<img src="https://ik.imagekit.io/webtactics/society/assets/society-400x300-black_m5j5e_U0P.jpg" alt="Society Pizzeria di Catania" title="Society Pizzeria di Catania" width="408px" height="auto">
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
<div class="socialwrapper">
<ul class="menusocial">
{% include "components/global/phone.html" %}
</ul>
</div>
</header>