<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/society/images/banners/society-home-4-1400x1000_aW-qT-WCG.jpg);"></div>
  
  
  </div>

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/society/images/banners/society-home-2-1400x1000_4h6KZw87R.jpg?updatedAt=1773979076869);"></div>
 
    
  </div>

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/society/images/banners/society-home-7-1400x1000_UBx6jextl.jpg);"></div>
  
  </div>





</div>

<div class="flex-caption centre">
     <img class="flex-image" align="center" src="https://ik.imagekit.io/webtactics/Society/images/home/Society-Pizza-180511.png" alt="Society Pizzeria di Catania">
      <div class="flextext">
        

<div class="grid-3-columns home-buttons">
  <div class="button-group one"><a href="https://bookings.nowbookit.com/?accountid=42c3dc48-f2ee-44dc-ae02-0108dc89edc7&venueid=2260&theme=light&colors=hex,000000" alt="Book a Table" title="Book" target="_blank">Book a Table</a></div>
  <div class="button-group two"><a href="https://www.societypizzeria.com.au/order-now/society-pizzeria-bondi-beach/" alt="Order Online" title="Order Now">Order Now</a></div>
  <div class="button-group three"><a href="https://giftcards.nowbookit.com/cards/card-selection?accountid=42c3dc48-f2ee-44dc-ae02-0108dc89edc7&venueid=2260&theme=light&accent=0,0,0" alt="Gift Cards" title="Gift Cards" target="_blank">Gift Cards</a></div>
</div>

      </div>
    </div>


</section>

