<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/society/images/banners/society-home-4-1400x1000_aW-qT-WCG.jpg);"></div>
  
  
  </div>

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/society/images/banners/society-home-2-1400x1000_4h6KZw87R.jpg?updatedAt=1773979076869);"></div>
 
    
  </div>

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/society/images/banners/society-home-7-1400x1000_UBx6jextl.jpg);"></div>
  
  </div>





</div>

<div class="flex-caption centre">
     <img class="flex-image" align="center" src="https://ik.imagekit.io/webtactics/Society/images/home/Society-Pizza-180511.png" alt="Society Pizzeria di Catania">
      <div class="flextext">
        

<div class="grid-3-columns home-buttons">
{% include "components/global/button-group.html" %}
</div>

      </div>
    </div>


</section>

