<section class="sliderbox">
<div id="paralx2" class="caption-text"><h1><span>{{ title }}</span></h1></div>
<div class="hero hide-for-print">   
<picture>
<source media="(max-width: 600px)" srcset="https://ik.imagekit.io/webtactics/society/tr:w-600,h-800/images/banners/society-home-2-1400x1000_4h6KZw87R.jpg">
<source media="(min-width: 601px)" srcset="https://ik.imagekit.io/webtactics/society/images/banners/society-home-2-1400x1000_4h6KZw87R.jpg">
<img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/webtactics/society/images/banners/society-home-2-1400x1000_4h6KZw87R.jpg" alt="PrestigePro Property Services" title="PrestigePro Property Services"  width="1400" height="933">
</picture>
</div>
</section>
