<section class="sliderbox">
<div id="paralx2" class="caption-text"><h1><span>{{ title }}</span></h1></div>
<div class="hero">   
<picture>
<source media="(max-width: 600px)" srcset="https://ik.imagekit.io/webtactics/society/tr:w-600,h-800/images/banners/society-home-4-1400x1000_aW-qT-WCG.jpg">
<source media="(min-width: 601px)" srcset="https://ik.imagekit.io/webtactics/society/images/banners/society-home-4-1400x1000_aW-qT-WCG.jpg">
<img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/webtactics/society/images/banners/society-home-4-1400x1000_aW-qT-WCG.jpg" alt="{{ title }}" title="{{ title }}"  width="1400" height="1000">
</picture>
</div>


<div class="hero">   
<picture>
<source media="(max-width: 600px)" srcset="https://ik.imagekit.io/webtactics/society/tr:w-600,h-800/images/banners/society-home-2-1400x1000_4h6KZw87R.jpg">
<source media="(min-width: 601px)" srcset="https://ik.imagekit.io/webtactics/society/images/banners/society-home-2-1400x1000_4h6KZw87R.jpg">
<img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/webtactics/society/images/banners/society-home-2-1400x1000_4h6KZw87R.jpg?updatedAt=1773979076869" alt="{{ title }}" title="{{ title }}"  width="1400" height="1000">
</picture>
</div>






</section>
