<nav class="childlist">
{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-class"{% endif %}>
<a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ entry.title }}">{{ entry.title }}</a>



    {% if entry.children.length %}
      <ul class="second-level">
        {% for child in entry.children %}
          {{ renderNavListItem(child) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  {%- endmacro %}
<ul class="main-menu">
    <li><a href="https://bookings.nowbookit.com/?accountid=42c3dc48-f2ee-44dc-ae02-0108dc89edc7&venueid=2260&theme=light&colors=hex,000000" alt="Book a Table" title="Book" target="_blank">Book a Table</a></li>
    <li><a href="https://www.societypizzeria.com.au/order-now/society-pizzeria-bondi-beach/" alt="Order Online" title="Order Now">Order Now</a></li>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
</nav>

