<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

{% block header %}
<body class="{{ class }} " >
{% include "components/header.njk" %}
{% include "components/off-canvas.njk" %}
{% endblock %}

{% block hero %}
{% if url == "/about-us/" %}
{% include "components/hero-about.njk" %}
{% elif url == "/contact/" %}
{% include "components/hero-contact.njk" %}
{% elif url == "/society-pizza-bar-bondi-beach/" %}
{% include "components/hero-bondi.njk" %}
{% else %}
{% include "components/hero-default.njk" %}
{% endif %}
{% endblock %}

<div class="container">
{% block content %}
<main class="content">  
{{ layoutContent | safe }}
</main>
</div>
{% endblock %}



<footer class="footernavwrapper"> 
<div class="footernavfullwidth">  
{% include "components/nav-footer.njk" %}
</div>
<div class="footerdetails"> 
{% include "components/footer.njk" %}
</div>
</footer>



{% include "components/javascript.njk" %}

</body>
</html>
