{% extends "layouts/default.njk" %}


{% block header %}
<body class=" {{ class }} " >
{% include "components/header.njk" %}
{% include "components/off-canvas.njk" %}
{% endblock %}




{% block content %}{% endblock %}
